@{
    ViewData["Title"] = "ProductUsage";
}

@model IEnumerable<Shop.Models.ProductUsage>

@{
    int i = 1;
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список использования товара</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ProductUsage" asp-action="Create" class="btn btn-primary">Создать</a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>#</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Операции</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usage in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td width="50%">@usage.Name</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="ProductUsage" asp-action="Edit" asp-route-id="@usage.Id" class="btn btn-warning mx-2">Редактировать</a>
                                <a asp-controller="ProductUsage" asp-action="Delete" asp-route-id="@usage.Id" class="btn btn-danger mx-2">Удалить</a>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>

