@{
    ViewData["Title"] = "Delete Product";
}

@model Shop.Models.Product

<div>
    <h3>Вы действительно хотите удалить товар?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Model.ShortDesc
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Model.Description
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Model.Price
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Model.Image
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Model.Category.Name
        </dd>
    </dl>
    
    <form method="POST" asp-action="DeletePost">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">К списку товаров</a>
        </div>
    </form>
</div>
